<div class="container">
    <div class="row mt-5">
      <div class="col-md-1">
        
      </div>
      <div class="col-md-10">
        <table>
          <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Edit</th>
            <th>Person</th>
          </tr>
          <tr>
            <td>
              <input placeholder="nome" [(ngModel)]="persontoinsert.firstName">
            </td>
            <td>
              <input placeholder="cognome" [(ngModel)]="persontoinsert.secondName">
            </td>
            <td>
              <button (click)="insert(persontoinsert)">Insert</button>
            </td>
            <td>
              <button (click)="clear()">Clear</button>
            </td>
          </tr>
          <tr *ngFor="let person of persons">
            <td><input [(ngModel)]="person.firstName"></td>
            <td><input [(ngModel)]="person.secondName"></td>
            <td><button (click)=update(person)>Save</button></td>
            <td><button (click)=delete(person)>Delete</button></td>
          </tr>
        </table>
      </div>
      <div class="col-md-1">
      </div>
    </div>
</div>
<br>
<br>
<br>
<div>
  <form>
    <td>
      <input placeholder="cognome" [(ngModel)]="personcheck.lastName"
          [ngModelOptions]="{standalone: true}">
    </td>
    <td>
      <button (click)="getPersonsByLastName(personcheck.lastName)">SearchByLastName</button>
      <!-- <a [routerLink]="['/admin-dashboard/persons/personsSearchByLastname']"> 
        Go 
      </a> -->
     <!--  <button onclick="window.location.href 
        = '/admin-dashboard/persons/personsSearchByLastname';">Click Here
      </button> -->
        

    </td>
     <!-- <input #box (keyup.enter)="onEnter(box.value)"> -->
     <!-- <p>{{value}}</p> -->
  </form>
  <div>
    <tr *ngFor="let person of personsSameLastName">
      <td>
        <input [(ngModel)]="person.firstName"> 
      </td>
      <td>
        <input [(ngModel)]="person.secondName"> 
      </td>
    </tr>
  </div>
</div>
