<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-assignment-b-heading">Create or edit a Assignment B</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!assignmentB.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="assignmentB.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_entryDateTime">Entry Date Time</label>
                    <div class="d-flex">
                        <input id="field_entryDateTime" type="datetime-local" class="form-control" name="entryDateTime" [(ngModel)]="entryDateTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_car">Car</label>
                    <input type="number" class="form-control" name="car" id="field_car"
                        [(ngModel)]="assignmentB.car" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_parkplace">Parkplace</label>
                    <input type="number" class="form-control" name="parkplace" id="field_parkplace"
                        [(ngModel)]="assignmentB.parkplace" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
