<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="assignmentB">
            <h2><span>Assignment B</span> {{assignmentB.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Entry Date Time</span></dt>
                <dd>
                    <span>{{assignmentB.entryDateTime}}</span>
                </dd>
                <dt><span>Car</span></dt>
                <dd>
                    <span>{{assignmentB.car}}</span>
                </dd>
                <dt><span>Parkplace</span></dt>
                <dd>
                    <span>{{assignmentB.parkplace}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/assignment-b', assignmentB.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
