<div class="container">
    <div class="row mt-5">
      <div class="col-md-1">
  
      </div>
      <div class="col-md-10">
        <table>
          <tr>
            <th>Car</th>
            <th>PostoAuto</th>
            <th>EntryDate</th>
            <th>EntryTime</th>
            <th>Edit</th>
            <th>Assignments</th>
          </tr>
          <tr>
            <td>
              <input placeholder="license Car" [(ngModel)]="assignmentToInsert.car.license">
            </td>
            <td>
              <input placeholder="id PostoAuto" [(ngModel)]="assignmentToInsert.park.id">
            </td>
            <td>
            </td>
            <td>         
            </td>
            <!-- <td>
              <input placeholder="data entry" [(ngModel)]="assignmentToInsert.entryDate">
            </td>
            <td>
              <input placeholder="time entry" [(ngModel)]="assignmentToInsert.entryTime">
            </td> -->
            <td>
              <button (click)="insert(assignmentToInsert)">Insert</button>
            </td>
            <td>
              <button (click)="clear()">Clear</button>
            </td>
          </tr>
          <tr *ngFor="let asg of assignments">
            <!-- <td>
              <input [(ngModel)]="asg.id">
            </td> -->
            <td>
              <input [(ngModel)]="asg.car.license">
            </td>
            <td>
                <input [(ngModel)]="asg.park.numberplace">
            </td>
            <td>
              <input [(ngModel)]="asg.entryDate">
            </td>
            <td>
              <input [(ngModel)]="asg.entryTime">
            </td>
            <td>
              <button (click)=update(asg)>Save</button>
            </td>
            <td>
              <button (click)="delete(asg)">Delete</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>