<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="assignmentParking">
            <h2><span>Assignment Parking</span> {{assignmentParking.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Car</span></dt>
                <dd>
                    <span>{{assignmentParking.car}}</span>
                </dd>
                <dt><span>Parkingplace</span></dt>
                <dd>
                    <span>{{assignmentParking.parkingplace}}</span>
                </dd>
                <dt><span>Entry Date Time</span></dt>
                <dd>
                    <span>{{assignmentParking.entryDateTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/assignment-parking', assignmentParking.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
